div {
    background-color: #282c34;
}

h2,
h3,
p {
    color: black
}

.passage {
    background-color: white;
    width: 40%;
    padding: 20px;
    margin: 20px auto 20px auto;
    border-radius: 10px;
}