@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,600;1,700&display=swap');
.list-container {
    padding: 2%;
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-container {
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 10px;
}

#sign {
    text-decoration: underline;
}

label {
    color: black;
}

p {
    font-size: 14px;
    font-weight: 600;
}

textarea {
    width: 30vw;
    height: 30vh;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 600;
}

button {
    padding: 5px;
    margin: 5px;
}